{
    "singleQuote": true,
    "printWidth": 150,
    "arrowParens": "always",
    "bracketSpacing": true,
    "endOfLine": "lf",
    "jsxSingleQuote": true,
    "jsxBracketSameLine": true,
    "tabWidth": 4
}
